<%- include('../../layout/head.ejs') %>

    <body>
        <%- include('../../layout/header.ejs') %>

            <h2>
                <%= data.location.address %>
            </h2>
            <p>valid port city:
                <%= data.aqua %>
            </p>
            <%- data.map %>


                <input type="button" id="reveal" name="saveButton" value="Save to Database">

                <div id="test">
                    <form action="/saved" method="POST">
                        <input type="text" name="enterUsername" placeholder="Insert username here">
                        <input type="submit" value="Submit">
                    </form>
                </div>

                <section id="dailyWeatherSection">
                    <% for (let i in data.wwo) {%>
                        <% let day = data.wwo[i]; %>
                            <%- include('../../layout/day.ejs', {day, i}) %>
                                <% } %>
                </section>

                <section>
                    <h2>Weather</h2>
                    <%- include('../../layout/table.ejs', {tableData: data.wwo.map( day => day.hourly)}) %>
                </section>

                <section>
                    <h2>Tides</h2>
                    <%- include('../../layout/table.ejs', {tableData: data.wwo.map( day => day.hourlyTides)}) %>
                </section>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
                <script src="/js/app.js"></script>

                <%- include('../../layout/footer.ejs') %>

    </body>


    </html>