
<%- include('../../layout/head.ejs') %>

<body>
   <%- include('../../layout/header.ejs') %>
   
    <h2>
        <%= data.location.address %>
    </h2>
    <p>valid port city:
        <%= data.aqua %>
    </p>
    <%- data.map %>
        <section id="dailyWeatherSection">
            <% for (let i in data.wwo) {%>
                <% let day = data.wwo[i]; %>
                    <%- include('../../layout/day.ejs', {day, i}) %>
                        <% } %>
        </section>

        <section>
            <%- include('../../layout/table.ejs', {tableData: data.storm}) %>
        </section>

    <footer>
        <%- include('../../layout/footer.ejs') %>
    </footer>

</body>


</html>