<%- include('../../layout/head.ejs') %>

    <body>
        <%- include('../../layout/header.ejs') %>

            <h2>
                <%= data.location.address %>
            </h2>
            <p>valid port city:
                <%= data.aqua %>
            </p>
            <%- data.map %>


                <input type="button" id="reveal" name="saveButton" value="Save to Database">

                <div id="test">
                    <form action="/saved" method="POST">
                        <input type="hidden" name="location" value="<%= data.location.address %>">
                        <input type="hidden" name="lat" value="<%= data.location.lat %>">
                        <input type="hidden" name="lng" value="<%= data.location.lng %>">
                        <input type="text" name="enterUsername" placeholder="Insert username here">
                        <input type="submit" value="Submit">
                    </form>
                </div>

                <section id="dailyWeatherSection">
                    <% let hourly = [] %>
                        <% let hourlyTides = [] %>

                            <% for (let i in data.wwo) {%>
                                <% let day = data.wwo[i]; %>
                                    <% hourly.push(day.hourly); %>
                                        <% hourlyTides.push(day.hourlyTides); %>


                                            <%- include('../../layout/day.ejs', {day, i}) %>
                                                <% } %>
                </section>
                <% for (let i in hourly) {%>

                    <section id="weather<%= i %>" class="hourlyTable">
                        <h2>Weather</h2>
                        <%- include('../../layout/table.ejs', {tableData: hourly[i]}) %>
                    </section>

                    <section id="tides<%= i %>" class="hourlyTable">
                        <h2>Tides</h2>
                        <%- include('../../layout/table.ejs', {tableData: hourlyTides[i]}) %>
                    </section>
                    <% } %>
                        <button id="hideDetails" class="hourlyTable">Hide Details</button>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
                        <script src="/js/app.js"></script>

                        <%- include('../../layout/footer.ejs') %>

    </body>


    </html>