<%- include('../../layout/head.ejs') %>

    <body>
        <%- include('../../layout/header.ejs') %>



            <div id="username">
                <p>Enter Username:</p>
                <form>
                    <input name="username" type="text" placeholder="insert username">

                    <input type="submit" value="Submit">
                </form>
            </div>

            <!-- One partial of Location, Image, sailboat, animation -->
            <div id="allSavedSearches">
                <%- include('../../layout/sample_locations.ejs') %>
                    <%- include('../../layout/sample_locations.ejs') %>
                        <%- include('../../layout/sample_locations.ejs') %>
                            <%- include('../../layout/sample_locations.ejs') %>

            </div>

            <%- include('../../layout/footer.ejs') %>
    </body>

    </html>