<%- include('../layout/head.ejs') %>

    <body>
        <%- include('../layout/header.ejs') %>
            <main>
                <h2>Status:
                    <%= status %>
                </h2>
                <p>
                    <%= message %>
                </p>
            </main>
            <%- include('../layout/footer.ejs') %>
    </body>

    </html>