<div class="dailyWeather">

    <h2>
        <%= day.date %>
    </h2>
    <p>High:
        <%= day.maxTemp %>&#176;</p>
    <p>Low:
        <%= day.minTemp %>&#176;</p>

    <p>Tides: </p>
    <% for (let i in day.tides) { %>
        <p>
            <%= day.tides[i].tide_type + ' ' + day.tides[i].tideTime%>
        </p>
        <% } %>
            <p> Sunrise:
                <%= sun.sunrise %>
            </p>
            <p> Sunset:
                <%= sun.sunset %>
            </p>
            <p> Solar Noon:
                <%= sun.solarNoon %>
            </p>
            <p> Nautical Twilight AM:
                <%= sun.nauticalTwilightAM %>
            </p>
            <p> Nautical Twilight PM:
                <%= sun.nauticalTwilightPM %>
            </p>
            <button id="<%= i %>" class="showHourly">Show Hourly</button>

</div>