<div class="dailyWeather">

    <h2>
        <%= day.date %>
    </h2>
    <p>High:
        <%= day.maxTemp %>&#176;</p>
    <p>Low:
        <%= day.minTemp %>&#176;</p>

    <p>Tides: </p>
    <% for (let i in day.tides) { %>
        <p>
            <%= day.tides[i].tide_type + ' ' + day.tides[i].tideTime%>
        </p>
        <% } %>

            <button id="<%= i %>" class="showHourly">Show Hourly</button>

</div>